
code/.DS_Store
code/arm64-android/.DS_Store
code/armv7-android/.DS_Store
code/x86-android/.DS_Store
code/x86-win32/.DS_Store
code/x86_64-android/.DS_Store
code/x86_64-linux/.DS_Store
code/x86_64-mac/.DS_Store
code/x86_64-win32/.DS_Store
resources/doc/.DS_Store
resources/.DS_Store
.DS_Store
._eSpeak.lcb
resources/._libespeak.a.zip
resources/._ReadMe.txt
resources/doc/._speak_lib.h
samples/._Tester.livecode
._api.lcdoc
research/._espeak-sample-master
research/._espeak-sample-master.zip
research/._libespeak.a.zip
research/._ReadMe.txt
research/._speak_lib.h
